/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Helvetica;
  
}

h1 {
  margin-bottom: 50px;
  color: black;
}

h3 {
  color: black;
  margin: 0;
}

hr {
    margin: 0; 
}

.menu-item {
  border: 2px solid black;
  background-color: #A52A2A;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.menu-item-chicken {
  padding: 4px;
}

.menu-item-beef {
  padding: 4px;
}

.menu-item-sushi {
  padding: 4px;
}

.menu-item p {
  margin: 10px 10px 0px 10px;
}

.menu-item-description {
  padding-bottom: 30px;
}

.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#header-nav {
  background-color: #A52A2A;
}

#nav-list a {
  color: black;
  text-align: center;
}

#nav-list a:hover {
  color: white;
}

@media (max-width: 767px) {
  .menu-item-description {
    padding-bottom: 15px;
  }

  .back-top:hover, .back-top:focus {
    text-decoration: none;
    color: white;
  }

  .back-top {
    color: black;
    padding-bottom: 15px;
  }

}
